.rbc-event {
    background-color: rgb(98, 0, 255);
    border:solid 2px rgb(0, 0, 0);
}


.rbc-active {
    background-color: rgb(43, 40, 40);
}

.rbc-event.rbc-selected {
    background-color: rgb(95, 204, 95);
}

.rbc-event {
    border: solid 3px black;
    
}

.rbc-today {
    background-color: rgb(146, 178, 221);
}

