@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');

.general-container1{
    height: 100%;
    width: 100%;
    display: flex;
    font-family: 'Dosis', sans-serif;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
