.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.form-container {
    height: 400px;
    width: 400px;
    padding: 20px;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    border: solid 1px black;
}

.text {
    width: 40px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: solid 1px black;
}

.password {
    width: 100px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: solid 1px black;
}

.input {
    margin: 10px;
    height: 25px;
    width: 250px;
}

.button {
    font-size: 15px;
    font-weight: 500;
    height: 30px;
    width: 100px;
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(98, 0, 255);
    cursor: pointer;
}

.ingreso {
    text-decoration: none;
    color: white;
}